/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom */
body{
    font-family: 'PT Sans', sans-serif;
}
img {
    width: 100%;
}
.tex-align{
    text-align: center;
}
a{
    text-decoration: none;
}
.padding-item-list{
    padding: 10px 35px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0,auto;
    padding: 0 32px;
}
.small-container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 32px;    
}
.project-1{
    border: 1px solid grey;
    background-color: white;
    margin: 5px 5px;
}

.padding{
    padding: 130px 0;
}
.btn{
    padding: 10px 20px;
    background-color: rgb(253,101,107);
    color: white;
    border-radius: 7px;
}
.btn-2{
    color: tomato;
    border: 2px solid tomato;
    padding: 9px 15px;
    border-radius: 3px;
}
 nav a:hover{
    color: tomato;
}

/* start */
.links{
    background-color: rgb(1,45,91);
    color: white;
}
.links i{
    padding: 13px 0;
    color: white;
}
.header-link small{
    margin-right: 400px;
}
.ancher a{
    margin-right: 30px;
}
.navbar{
    padding: 10px 0 ;
}
.logo{
    margin-left: 40px;
}
.margin-left{
    margin-left: 78px;
}
.nav-menu a{
    color: rgb(47,84,121);
    font-size: 15px;
    text-transform: uppercase;
}
.nav-menu li{
    margin-right: 20px;
}

.btn a{
    color: white;
}
.hero{
    background: url(../media/hero/h1_hero.jpg) ,no-repeat ;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.hero-1{
    padding: 230px 200px; 
}
.hero-1 h1{
    padding-bottom: 29px;
    line-height: 1.1;
    text-align: left;
    color: rgb(0,45,91);
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
} 
.hero-1 small{
    text-transform: uppercase;
    color: tomato;
}
.button{
    margin-top: 20px;
     text-transform: uppercase;
}
/* section-content */
.section-team{    
    background-color: rgb(246,249,254);
}
.section-team img{
    width: 100%;
}
.team{
    width: 30%;
    height: 300px;
}
.team h2{
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    color: rgb(31,35,58);
}
.team p{
    line-height: 1.5;
    color: rgb(120,133,147);
    font-size: 13px;
}

.team-box{
    background-color: rgb(255,255,255);
    padding: 15px;
    text-align: left;
    width: 25%;
    height: 273px;
    border: 2px solid red;
}
.team-box h2{
    padding: 15px 0;
    font-weight: 600;
    font-size: 40px;
    color: rgb(31,35,58);
}
.team-box hr{
    margin: 20px 0;
    text-align: left;
    width: 100px;
    margin-right: 180px;
    background-color: red;
}
.team-box p{
    font-size: 13px;
    color: rgb(120,133,147);
    margin-bottom: 10px;
    line-height: 1.5;

}
.team-box a{
    font-size: 10px;
    color: grey;
}
/* section 1*/
.section-team-3{
    padding-top: 130px;
}
.team-3 img{
    margin-left: 50px;
    width: 80%;
    right: 10px;
    margin: -10px;
    margin-bottom: 190px;
    margin-left: 270px;
}
.clients{
    margin-right: 60px;
    /* padding: 0 30px; */
    width: 60%;
    height: 300px;
    background-color: rgba(255, 255, 255 ,0.5);
}
.clients h2{
    margin-left: 20px;
    font-size: 30px;
    color: rgb(31,35,58);
    font-weight: 600;
    padding: 20px 0;
}
.clients p{
    margin-left: 20px;
    line-height: 1.3;
    padding-bottom: 30px;
    color: rgb(120,133,147);

}
.learnbtn{
    margin-left: 20px;
}
.unique{
    background-color: rgb(253,101,107);
    font-weight: 400px;
    font-size: 18px;
    color: white;
    padding-left: 10px;
}
/* section -2*/
 h3{
     color: rgb(31,35,58);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.col{
    background-color: rgb(252,253,255);
}
.col  i{
     font-size: 30px;
     color: black;
}
.col h2{
    font-size: 24px;
    margin-right: 20px;
    color: rgb(31,35,58);
    padding: 10px 0;
}
.col p{
    font-size: 16px;
    line-height: 1.3;
    /* text-align: center; */
    color: rgb(120,133,147);
}
.service-btn{
    display: inline-block;
    margin-left: 450px;
    margin-bottom: 90px;
}
/* section-cases */
.cases-box{
    background-color: rgb(246,249,254);
}
.cases h2{
    font-size: 29px;
    font-weight: 600;
    color: rgb(31,35,58);
}
.cases p{
    color: rgb(31,35,58);
    font-size: 16px;
    padding: 19px 0;
    margin-bottom: 25px;
}
.cases-image{
    width: 60%;
}
/* section */
.testinomil{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 30%;
}
.testinomil blockquote{
    padding: 14px 0;
    line-height: 1.2; 
}
.testinomil a {
    text-align: center;
    color: rgb(251,186,66);
}
strong{
    padding: 15px 0;
    color: rgb(55,81,95);
}
.colorib{
    padding: 10px 0;
    color: grey;
}
/* section */
.news{
    width: 30%;
    padding-bottom: 120px;
}
.news p{
    padding-right: 30px;
    color: red; 
    padding: 10px 0;
}
h4{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 60px;
    color: rgb(31,35,58);
}
time{
    color: grey;
}

.news h3{
    font-size: 23px;
    text-align: left;
    color: rgb(31,35,58);
    padding: 10px 0;
}
/*  */
.call{
    padding: 50px 0;
    background-color: rgb(0,45,91);
}
.call h5{
    padding: 30px 0;
    font-weight: 600;
    font-size: 30px;
    color: white;
}
.call p{
    color: white;
    line-height: 1.3;
}
.box-name{
    padding: 8px 100px;
    border: 2px solid rgb(24,69,115);
    border-radius: 5px;
}
.box-phone{
    padding: 8px 100px;
    border: 2px solid rgb(24,69,115);
    margin-left: 20px;
    border-radius: 5px;
}
.box-Services{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 8px 160px;
    border: 2px solid rgb(24,69,115);
    border-radius: 5px;
}
.send-button{
    margin-left: 15px;
    margin-top: 18px;
    padding: 10px 50px;
}
/* section-footer */
.footer-icon{
    padding-top:60px;
    padding-bottom: 60px;
}
.footer-icon img{
    width: 30%;
}
.footer-icon p{
    padding: 15px 0;
    line-height: 1.3;
     color: grey;
}

.navigation a{
    color: black;
     
}
h6{
    font-size: 20px;
    font-weight: 600;
    color: rgb(0,45,91);
}
.links-pages a {
    
    color: grey;
    line-height: 1.5;
}
.footer-icon li{
      color: grey;
      line-height: 2;
}   
.line{
    text-align: center;
    border: 1px solid skyblue;
}
.footer p{
    text-align: center;
}
.footer{
    padding: 25px 0;
    text-align: center;
}
.footer strong{
    color: red;
} 
.small{
    text-align: center;
}
/* service-page */
.service-page{
    background: url(../media/hero/services_hero.jpg),no-repeat;
    background-size: cover;
    margin-bottom: 89px;
}
.service-page h2{
    text-align: center;
    font-size: 60px;
    color: white;
    font-weight: 700;
    padding: 110px 0;
}
/* about-page */
.about-section{
    background: url(../media/hero/about_hero.jpg),no-repeat;
    background-size: cover;
}
.about-section h2{
    text-align: center;
    font-size: 60px;
    color: white;
    font-weight: 700;
    padding: 110px 0;
}

/* contact-page */
.contact-page{
    background: url(../media/hero/contact_hero.jpg),no-repeat;
    background-size: cover;
}
.contact-page h2{
    text-align: center;
    font-size: 60px;
    color: white;
    font-weight: 700;
    padding: 110px 0;
}
iframe{
    padding: 40px 0;
}
.contact-box-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
}
.contact-box{
    padding: 60px 280px;
    border: 2px solid grey;
    margin-bottom: 20px;
}
.contact-box-1{
      padding: 7px 100px;
      border: 2px solid grey;
      margin-bottom: 20px;
}
.contact-box-2{
    padding: 6px 130px;
    border: 2px solid grey;
    margin-bottom: 20px;
}
.contact-box-3{
    padding: 6px 17px;
    border: 2px solid grey;
    margin-bottom: 10px;
}
.contact-links{
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}
.contact-info h3{
    padding: 20px 0;
    font-size: 30px;
    color: rgb(31,35,58);
}
.contact-links a{
      color: grey;
      font-size: 30px;
      margin-left: 30px;
}

.btn-3{
    width: 70px;
    height: 30px;
    border: 2px solid tomato;
    margin-bottom: 30px;
}
.btn-3 p{
    text-align: center;
    margin-top: 6px;
}
/* Blog-page */
.blog-section-1{
    background: url(../media/hero/blog_hero.jpg),no-repeat;
    background-size: cover;
}

.blog-section-1 h1{
    text-align: center;
    font-size: 60px;
    color: white;
    font-weight: 700;
    padding: 110px 0;
}
.blog-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 120px;
}
.blog-section-2{
    text-align: start;
    display: flex;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 100px;
}
/* blog-images */
.blog-article{
    margin-bottom: 50px;
    box-shadow: 2px 2px 6px 4px rgba(0,0,0,0.2);
}
.blog-image-1{
    bottom: 18px;
}
.small-date{
    margin-left: 30px;
    margin-top: -60px;
    /* bottom: 1px; */
    position: absolute;
    z-index: 2;
    padding-bottom: 15px;
    padding-left: 13px;
    padding-right: 13px;
    background-color: rgb(253,101,107);
     width: 50px;
    /* height: 65px; */
    /* color: white; */
}
.time{
    line-height: 1.2;
    text-align: center;
    color: white;
    /* margin-left: 50px; */
    /* padding-left: 10px; */
    font-size: 20px;
}
.para-info{
    padding: 10px 20px; 
    margin-top: 30px;
}
.para-info h2{
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 10px;
}
.para-info p{
    text-align: start;
    line-height: 1,5;
    color: grey;
    font-size: 17px;
    margin-bottom: 10px;
}
 .para-info a{
      color: grey;
      font-size: 10px;
}
.para-info a i{
    font-size: 10px;
}
/* aside */
aside{
    width: 30%;
    margin-left: 50px;
}
.search-button{
    padding: 10px 30px;
    background-color: rgb(250, 246, 252);
    margin-bottom: 20px;
}
.search{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    padding: 0px 0px;
    color: grey;
    border:  1px solid rgb(244,238,255);
    background-color: white;
    align-items: center;
}
.search i{
    /* text-align: center; */
    color:white;
    background-color: rgb(253,133,138);
    padding: 11px 10px;
    border: 2px rgb(253,133,138) solid;
    /* height: 40px; */
    /* width: 40px; */
}
.search-2{
    width: 36%;
    text-align: center;
    margin-top: 10px;
    padding: 12px 70px;
    color: rgb(253,133,138);
    border: rgb(253,133,138) 2px solid;
    background-color: white;

}
.item-list{
    background-color: rgb(250, 246, 252);
    margin-bottom: 10px;
}
h2{
    font-size: 24px;
    
}
hr{
    /* background-color: rgb(241, 216, 241); */
    background-color: rgb(237, 236, 247);
    border: 1px solid rgb(237, 236, 247);
    width: 55%;
    padding:0 30px;
}
.item-list ul{
    font-size: 17px;
    padding: 9px 30px;
}
.post{
    padding: 20px;
    
    background-color: rgb(250, 246, 252);
}
.newssetter{
    margin-top: 10px;
    padding: 20px;
    
    background-color: rgb(250, 246, 252);
}
.post h2{
    font-size: 19px;
}
.clouds{
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(250, 246, 252);
}
.instagram{
    padding: 20px;
    margin-top: 10px;
    background-color: rgb(250, 246, 252);
}
.post img{
    width: 18%;
}
.life{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    margin-right: 20px;
}
.life h2{
    margin-left: 10px;
    font-size: 15px;
    color: rgb(31,35,58);
}
.life p{
    padding-left: 20px;
    font-size: 13px;
    color: grey;
}
.one{
    margin-left: 5px;
    padding: 10px;
    border: 1px solid plum;
}
.two{
    background-color: rgb(250, 234, 234);
}
.project{
    padding: 5px 6px;
 
}
.project-2{
    padding: 5px 4px;
}
.clouds h2{
     font-size: 18px;
     color: rgb(31,35,58);
}
.project-3{
    padding: 5px 8px;
}
.flex-start{
    justify-content: flex-start;
}
.project-4{
    padding: 5px 6px;
}
.project-5{
    padding: 5px 9px;
}
.project-6{
    padding: 5px 7px;
}
.project-7{
    padding: 5px 6px;
}
.project-8{
    padding: 5px 4px;
}
.insta figure{
    margin-bottom: 8px;
    margin-left: 10px;
}
.news2{
    text-align: left;
    color: grey;
    padding: 8px 55px;
    border: 2px solid rgb(244,239,255) ;
    background-color: white;
    margin-bottom: 10px;
    width: 49%;
}
.news-info{
    width: 50%;
    text-align: center;
    padding: 13px 55px;
    background-color: white;
    color: rgb(253,133,138);
    border: 2px solid rgb(253,133,138);
}
/* cases-page */
.cases-section{
    background: url(../media/hero/cases_hero.jpg),no-repeat;
    background-size: cover;
}
.cases-section h2{
    text-align: center;
    font-size: 60px;
    color: white;
    font-weight: 700;
    padding: 110px 0;
}
.same-section{
    padding: 90px;
}
.strategy figure{
    z-index: -1px;
    /* padding-top: 50px; */
    width: 280px;
    position: relative;
    margin-bottom: 20px;
}
.flex2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.strategy h2{
    padding-top: 7px;
    padding-right: 18.4px;
    font-size: 20px;
    color: rgb(31,35,58);
    margin-top: -75px;
    padding-bottom: 4px;
    z-index: 2px;
    position: absolute;
    background-color: white;
    font-weight: 600;

}
.strategy p{
    padding-right: 17px;
    color: rgb(91,107,123);
    /* margin-top: 30px; */
    font-weight: 500;
    font-size: 12.9px;
    z-index: 2px;
    margin-top: -48.5px;
    position: absolute;
    background-color: white;
}


